/* Styling for the entire body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container that wraps the main content */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Header Section */
.header {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.date {
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px; /* Make the date text smaller */
    font-family: 'Times New Roman', serif; /* Use a serif font for newspaper feel */
    font-style: italic; /* Italicize for a newspaper style */
}

.header h1 {
    font-size: 32px; /* Make the font larger */
    color: #333;
    margin: 20px 0; /* Add space above and below the h1 */
    font-family: 'Georgia', serif; /* Use a serif font for the heading */
    font-weight: bold; /* Make the heading bold */
    border-bottom: 2px solid #333; /* Add an underline to the heading */
    padding-bottom: 10px; /* Add padding below the heading */
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* Main Content Section */
.content {
    padding: 20px 0;
}

.intro {
    margin-bottom: 10px;
}
.intro img {
  margin-bottom: 30px;
  padding: 10px;
  display: block;
  width: 400px;
  height: 350px;
}

.content h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color:#555;
    
}

.content h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 15px;
}

.content a {
    color: #007bff;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.updates article {
    margin-bottom: 20px;
}

.updates h3 {
    font-size: 18px;
    color: #555;
}

.img {
    width: 200px;
    height: 200px;
}

/* Footer Section */
.footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.footer p {
    font-size: 14px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 28px; /* Slightly smaller for mobile */
    }

    .content h2 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }

    .content a {
        font-size: 14px;
    }

    .footer p {
        font-size: 12px;
    }
}
